body {color: #EFE8D6;}
h1,h2,h3  {color: #63657A;}
p, ul, li, tr, th {color:#AEB5BD ;}
a:link {color:#63657A;}
a:visited {color: #AEB5BD ;}
a:hover {color: #AEB5BD ;}
nav {background-color: #EFE8D6 ;}
nav a{color: #63657A;}
nav a:hover {background-color: #DDDFD2;}
nav {margin-bottom: 30px}
.copy {float: left;}
.quote {float: right;}
.row1 {display: flex; padding: 20px; background-color: #DDDFD2; border-radius: 1em;}
.column1 {flex: 1; order: 1;}
.column2 {flex: 6; order: 2;}
form {color: #AEB5BD;}
.row2 {display: flex; padding: 20px; background-color: #DDDFD2; border-radius: 1em; margin-top: 20px; flex-wrap: wrap;}
.row2, .column3, .column4 {display:flex}
.column3 {flex-basis: 35%; margin: 30px;} 
.column4 {flex-basis: 75%;}
.header {display: flex; justify-content: center;}
.photo {width: 100px;}
.flexbox1 {display: flex; flex: 1; justify-content:space-between;margin: 50px; margin-top: 80px;}
.skills{background-color:#EFE8D6 ;color: #63657A; padding: 30px; border-radius: 1em; margin: 20px;}
.bigflex {display: flex;}
.intro {width: 95%; margin: 0 auto;}
.banner {max-width:100%;}
.skip{background-color: white; padding: 5px; border: 1px solid #000000; text-decoration: none; position: absolute; top: 10px; left: -999px;} 
.skip:focus {left: 10px;}
        

@media only screen and (max-width:819px) {nav a {width: 100%; display: block; margin: 5px;} span {display: none;} .bigflex {flex-wrap: wrap;}}

