body {color: #EFE8D6;}
h1,h2,h3  {color: #63657A;}
p, ul, li, tr, th {color:#AEB5BD ;}
a:link {color:#63657A;}
a:visited {color: #AEB5BD ;}
a:hover {color: #AEB5BD ;}
nav {background-color: #EFE8D6 ;}
nav a{color: #63657A;}
nav a:hover {background-color: #DDDFD2;}
nav {margin-bottom: 30px}