nav a, h1, h2, h3, h4, p, ol, li {font-family: 'Nova Square', sans-serif;}
h1 {color: white; margin: 10px;}
header {background-color: black; margin: 0px; max-width: 100%;}
.banner, .banner2, .banner3, .banner4, .banner5 {max-width: 100%; border: 1px solid black;}
.page1pic1 {max-width: 75%; margin: 10px auto; max-height: 50%;}
.page1pic2 {max-width: 90%; margin: 10px auto;}
body {background-color:cornsilk}
.firstp {color: black; width: 50%; margin: 10px;}
.list1 {padding:5px; width: 50%; margin: 20px;}
.row2 {display: flex; justify-content: space-between;}
.column3, .column4, .column5, .column6, .column7, .column8 {margin: 10px; background-color: black; border-radius: 1em; color: white;}
.header2 {text-align: center; color: white;}
.column4 div, .column3 div {display: flex; justify-content: center;}
.column3 p, .column4 p {margin: 20px;}
.row4 {display: flex; justify-content: center;}
.page1pic3 {max-width: 100%; margin: 10px auto}
.end {text-align: center; color: white;}
.lastbox{background-color: black;border-radius: 1em; margin: 10px auto; color:  blanchedalmond;}
main p {color: blanchedalmond;}
.skip{background-color: white; padding: 5px; border: 1px solid #000000; text-decoration: none; position: absolute; top: 10px; left: -999px;} 
.skip:focus {left: 10px;}
.footerrow1 {display: flex; background-color: blanchedalmond; justify-content: space-between; border: 1px solid black; font-family: Verdana, Geneva, Tahoma, sans-serif; color: black;}
.footercolumn1, .footercolumn2 {padding:30px; color: black;}
.icon {max-width: 50px; padding:5px}
.citations {display: flex; justify-content: space-between; margin: 10px; background-color: blanchedalmond; border: 1px solid black; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.navbut {color: white; background-color: #000000; margin:35px;}
.row0 {display: flex; justify-content: space-between;}
header {background-color: black; margin: 0; height: 100%;}
html {background-color: black;}
.indexinfo {color: white;}
nav {background-color: black;}
.bannerbox {display: flex;}
.banner2 {max-height: 600px;}
.banner5 {max-height: 674px}
.infop {color: black;}
.infopt {color: white; margin: 20px;}
.mapbox {display: flex; justify-content: space-evenly;}
.headingrow {display: flex; justify-content: space-evenly;}
.headerbox1, .headerbox2 {flex-basis: 50%; margin: 40px auto; background-color: black; border-radius: 1em; color: white;}
.headerbox1 div, .headerbox2 div {margin: 15px;}
.bigrow1, .bigrow2, .campsites {display: flex; justify-content: space-evenly;}
.littlepic1, .littlepic2, .littlepic3, .littlepic4 {max-width: 100%; margin: 10px auto;}
.maptitle {text-align: center;}



@media only screen and (max-width:819px) {.footerrow1 {flex-wrap: wrap;} .citations {flex-wrap: wrap;} .row2, .row0, .headingrow, .campsites, .bigrow1, .bigrow2, .mapbox {flex-wrap: wrap;} h4 {text-align: center;}}